@model IEnumerable<EnterpriseProject.Data.Listing>
@{
    ViewData["Title"] = "Apparel";
}

<h2>Apparel</h2>

<div class="container gridContainer">
    @foreach (var item in Model)
    {
        <div class="row gridRowPadding">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">@item.Title</h3>
                        <h4 class="card-title">@item.Location</h4>
                        <h5 class="card-title">@item.Price.ToString("C")</h5>
                        <p class="card-text">@item.Description</p>
                        <a href="#" class="btn btn-primary mb-2">View More</a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="button-group">
                                @if (ViewBag.UserSavedListingIds.Contains(item.ListingId))
                                {
                                    <button class="btn btn-secondary" disabled>Already Saved</button>
                                }
                                else
                                {
                                    <form asp-controller="Categories" asp-action="SaveListing" method="post" class="w-100">
                                        <input type="hidden" name="listingId" value="@item.ListingId" />
                                        <button type="submit" class="btn btn-success">Save Listing</button>
                                    </form>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>